@{
    ViewData["Title"] = "Salarios";

    List<Venda>? Vendas = ViewData["Vendas"] as List<Venda>;
    List<Funcionario>? Funcionarios = ViewData["Funcionarios"] as List<Funcionario>;
    List<Filial>? Filiais = ViewData["Filiais"] as List<Filial>;
    List<Carro>? Carros = ViewData["Carros"] as List<Carro>;
    DateFilter? Dates = ViewData["Dates"] as DateFilter;
}

<h1>Relatorio de Salarios</h1>
<div class="date-range">
    <p>Data Inicial: @Dates.DataIni</p>
    <p>Data Final: @Dates.DataFin</p>
</div>

<div class="row">
    <div class="col-md-12">

        <table class="table">
            <thead>
                <tr>
                    <td colspan="4">Filial com mais vendas</td>
                </tr>
            </thead>
            <tbody>
                @foreach (Funcionario func in Funcionarios)
                {
                    <tr>
                        <td>@{
                                var FilialFunc = Filiais.FirstOrDefault(f => f.CodFilial == func.FkFilialCodFilial);
                                if (FilialFunc != null)
                                {
                                    @FilialFunc.NomeFilial;
                                }
                                else 
                                {
                                    @("Filial não encontrada");
                                }
                            }
                        </td>
                        <td>@func.NomeFuncionario</td>
                        <td>
                            @{
                                int vendas = 0;
                                foreach (Venda v in Vendas)
                                {
                                    if (v.FkFuncionarioCodFuncionario == func.CodFuncionario)
                                    {
                                        if (v.DataVenda <= Dates.DataFin && v.DataVenda >= Dates.DataIni)
                                        {
                                            vendas += 1;
                                        }
                                    }
                                }
                            }
                            @vendas
                        </td>
                        <td>
                            @{
                                decimal salarioFinal = func.SalarioFuncionario;
                                foreach (Venda v in Vendas)
                                {
                                    if (v.FkFuncionarioCodFuncionario == func.CodFuncionario)
                                    {
                                        if (v.DataVenda <= Dates.DataFin && v.DataVenda >= Dates.DataIni)
                                        {
                                            salarioFinal += (Carros.FirstOrDefault(c => c.CodCarro == v.FkCarroCodCarro).ValorCarro) / 100;
                                        }
                                    }
                                }
                            }
                            @salarioFinal
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<style>
    .FiltroData {
        display: flex;
    }

    .date-range {
        display: flex;
    }
</style>