@model Venda;
@{
    ViewData["Title"] = "Deletar Venda";
    IEnumerable<Cliente>? Clientes = ViewData["Clientes"] as IEnumerable<Cliente>;
    IEnumerable<Carro>? Carros = ViewData["Carros"] as IEnumerable<Carro>;
    IEnumerable<Funcionario>? funcionarios = ViewData["Funcionarios"] as IEnumerable<Funcionario>;
}

<h1>Deletar Venda</h1>
<form asp-action="DeletarVenda" asp-controller="Venda" method="post">

    <div class="row">

        <div class="col-lg-12">
            <div class="form-group">
                <label>Codigo:</label>
                <input asp-for="CodVenda" type="text" class="form-control" readonly>
            </div>

            <div class="form-group">
                <label>Data da venda:</label>
                <input asp-for="DataVenda" type="date" class="form-control" readonly>
            </div>

            <div class="form-group">
                <label>Ultima revisão:</label>
                <input asp-for="UltimaRevisao" type="date" class="form-control" readonly>
            </div>

            <div class="form-group">
                <div class="label-redirect">
                    <label>Cliente:</label>
                    <a class="redirect-a" asp-action="Create" asp-controller="Cliente">Criar Cliente</a>
                </div>
                <select asp-for="FkClienteCodCliente" class="form-control" readonly>
                    @foreach(var Cliente in ViewData["Clientes"] as List<Cliente>)
                    {
                        <option value="@Cliente.CodCliente">@Cliente.NomeCliente</option>
                    }
                </select>
            </div>

            <div class="form-group">
                <label>Carro:</label>
                <select asp-for="FkCarroCodCarro" class="form-control" readonly>
                    @foreach(var Carro in ViewData["Carros"] as List<Carro>)
                    {
                        <option value="@Carro.CodCarro">@Carro.ModeloCarro</option>
                    }
                </select>
            </div>

            <div class="form-group">
                <label>Vendedor:</label>
                <select asp-for="FkFuncionarioCodFuncionario" class="form-control" readonly>
                    @foreach(var Carro in ViewData["Funcoes"] as List<Carro>)
                    {
                        <option value="@Carro.CodCarro">@Carro.ModeloCarro</option>
                    }
                </select>
            </div>

            <div class="form-group">
                <div asp-validation-summary="All" class="text-danger"></div>
            </div>
            
            <div class="card-footer">
                <center>
                    <button type="submit" class="btn-primary">Deletar Venda</button>
                    <button class="btn-secondary"><a asp-action="Get" asp-controller="Venda">Cancelar</a></button>
                </center>
            </div>

        </div>

    </div>

</form>