@model Cliente;
@{
    ViewData["Title"] = "Ver Cliente";
}

<h1>Informacoes Detalhadas</h1>
    <div class="row">

        <div class="col-lg-12">

            <div class="form-group">
                <h3>Codigo:</h3>
                <p>@Model.CodCliente</p>
            </div>

            <div class="form-group">
                <h3>Nome:</h3>
                <p>@Model.NomeCliente</p>
            </div>

            <div class="form-group">
                <h3>CPF:</h3>
                <p>@Model.CPFCliente</p>
            </div>

            <div class="form-group">
                <h3>Endereço:</h3>
                <p>@Model.EndCliente</p>
            </div>

            <div class="form-group">
                <h3>Email:</h3>
                <p>@Model.EmailCliente</p>
            </div>

            <div class="form-group">
                <h3>Telefone:</h3>
                <p>@Model.TelCliente</p>
            </div>

            <div class="form-group">
                <h3>Data de Nascimento:</h3>
                <p>@Model.DataNasc</p>
            </div>

            </div>
        </div>
    </div>