@model Agenda;
@{
    ViewData["Title"] = "Adicionar Agendamento";
}
@{
    List<Cliente>? Clientes = ViewData["Clientes"] as List<Cliente>;
    List<Servico>? Servicos = ViewData["Servicos"] as List<Servico>;
    List<Funcionario>? Funcionarios = ViewData["Funcionarios"] as List<Funcionario>;
}
<h1>Criar Agendamento</h1>
<form asp-action="CriarAgenda" asp-controller="Agenda" method="post">

    <div class="row">

        <div class="col-lg-12">

            <div class="form-group">
                <label>Data Agendamento:</label>
                <input id="dataInput" value="" min="" asp-for="DataAgenda" type="datetime-local" class="form-control" required>
            </div>

            <div class="form-group">
                <label>Modelo do veiculo:</label>
                <input asp asp-for="Modelo" type="text" class="form-control" required>
            </div>

            <div class="form-group">
                <label>Ano do veiculo:</label>
                <input asp-for="Ano" type="text" pattern="[0-9]{4}" class="form-control" required>
            </div>

            <div class="form-group">
                <label>Quilometragem:</label>
                <input asp-for="Km" type="text" class="form-control" required>
            </div>

            <div class="form-group">
                <label>CPF Cliente:</label>
                <div class="dropdown">
                    <div id="myDropdown" class="dropdown-content">
                        <input type="text" placeholder="Pesquisar.." id="myInput" onkeyup="filterFunction()">
                        <select asp-for="FkClienteCodCliente" class="form-control" required>
                            @foreach(var Cliente in ViewData["Clientes"] as List<Cliente>)
                            {
                                <option value="@Cliente.CodCliente">@Cliente.CPFCliente</option>
                            }
                        </select>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label>Servico:</label>
                <select asp-for="FkServicoCodServico" class="form-control" required>
                    @foreach(var Servico in ViewData["Servicos"] as List<Servico>)
                    {
                        <option value="@Servico.CodServico">@Servico.NomeServico</option>
                    }
                </select>
            </div>

            <div class="form-group">
                <label>Funcionario:</label>
                <select asp-for="FkFuncionarioCodFuncionario" class="form-control" required>
                    @foreach(var Funcionario in ViewData["Funcionarios"] as List<Funcionario>)
                    {
                        <option value="@Funcionario.CodFuncionario"><p>@Funcionario.CodFuncionario</p> - @Funcionario.NomeFuncionario</option>
                    }
                </select>
            </div>

            <div class="form-group">
                <div asp-validation-summary="All" class="text-danger"></div>
            </div>
            
            <div class="card-footer">
                <center>
                    <button type="submit" class="btn-primary">Adicionar Agendamento</button>
                    <button class="btn-secondary"><a asp-action="Get" asp-controller="Agenda">Cancelar</a></button>
                </center>
            </div>

        </div>

    </div>

</form>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Obtenha o elemento de input usando o ID
        var dataInput = document.getElementById('dataInput');

        // Obtenha a data e hora atual no fuso horário local
        var dataAtual = new Date();
        var dataAtualLocal = new Date(dataAtual.getTime() - dataAtual.getTimezoneOffset() * 60000);

        // Arredonda para o próximo múltiplo de 15 minutos
        var minutosAtual = dataAtualLocal.getMinutes();

        // Configura a data mínima para ser maior que a data e hora atual
        dataAtualLocal.setMinutes(minutosAtual);
        dataInput.min = dataAtualLocal.toISOString().slice(0, -8);

        // Configura o valor inicial para a data e hora atual
        dataInput.value = dataAtualLocal.toISOString().slice(0, -8);
    });

    function filterFunction() {
        var input, filter, ul, li, a, i;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        div = document.getElementById("myDropdown");
        a = div.getElementsByTagName("option");
        for (i = 0; i < a.length; i++) {
            txtValue = a[i].textContent || a[i].innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                a[i].style.display = "";
            } else {
                a[i].style.display = "none";
            }
        }
    }
</script>
