@model Agenda;
@{
    ViewData["Title"] = "Editar Agendamento";
    IEnumerable<Cliente>? Clientes = ViewData["Clientes"] as IEnumerable<Cliente>;
    IEnumerable<Servico>? Servicos = ViewData["Servicos"] as IEnumerable<Servico>;
    IEnumerable<Funcionario>? funcionarios = ViewData["Funcionarios"] as IEnumerable<Funcionario>;
}

<h1>Editar Agendamento</h1>
<form asp-action="EditarAgenda" asp-controller="Agenda" method="post">

    <div class="row">

            <div class="form-group">
                <label>Codigo Agendamento:</label>
                <input asp-for="CodAgenda" type="text" class="form-control" readonly>
            </div>

        <div class="form-group">
                <label>Data Agendamento:</label>
                <input id="dataInput" asp-for="DataAgenda" type="datetime-local" class="form-control" required>
            </div>

            <div class="form-group">
                <label>Modelo do veiculo:</label>
                <input asp-for="Modelo" type="text" class="form-control" required>
            </div>

            <div class="form-group">
                <label>Ano do veiculo:</label>
                <input asp-for="Ano" type="text" class="form-control" required>
            </div>

            <div class="form-group">
                <label>Quilometragem:</label>
                <input asp-for="Km" type="text" class="form-control" required>
            </div>

            <div class="form-group">
                <label>CPF Cliente:</label>
                <div class="dropdown">
                    <div id="myDropdown" class="dropdown-content">
                        <input type="text" placeholder="Pesquisar.." id="myInput" onkeyup="filterFunction()">
                        <select asp-for="FkClienteCodCliente" class="form-control" required>
                            @foreach(var Cliente in ViewData["Clientes"] as List<Cliente>)
                            {
                                <option value="@Cliente.CodCliente">@Cliente.CPFCliente</option>
                            }
                        </select>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label>Servico:</label>
                <select asp-for="FkServicoCodServico" class="form-control" required>
                    @foreach(var Servico in ViewData["Servicos"] as List<Servico>)
                    {
                        <option value="@Servico.CodServico">@Servico.NomeServico</option>
                    }
                </select>
            </div>

            <div class="form-group">
                <label>Funcionario:</label>
                <select asp-for="FkFuncionarioCodFuncionario" class="form-control" required>
                    @foreach(var Funcionario in ViewData["Funcionarios"] as List<Funcionario>)
                    {
                        <option value="@Funcionario.CodFuncionario"><p>@Funcionario.CodFuncionario</p> - @Funcionario.NomeFuncionario</option>
                    }
                </select>
            </div>

            <div class="form-group">
                <div asp-validation-summary="All" class="text-danger"></div>
            </div>
            
            <div class="card-footer">
                <center>
                    <button type="submit" class="btn-primary">Editar Agendamento</button>
                    <button class="btn-secondary"><a asp-action="Get" asp-controller="Agenda">Cancelar</a></button>
                </center>
            </div>

        </div>

    </div>

</form>

<script>
    function filterFunction() {
        var input, filter, ul, li, a, i;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        div = document.getElementById("myDropdown");
        a = div.getElementsByTagName("option");
        for (i = 0; i < a.length; i++) {
            txtValue = a[i].textContent || a[i].innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                a[i].style.display = "";
            } else {
                a[i].style.display = "none";
            }
        }
    }
</script>
