@model Agenda;
@{
    ViewData["Title"] = "Ver Agendamento";
    
    IEnumerable<Cliente>? Clientes = ViewData["Clientes"] as IEnumerable<Cliente>;
    IEnumerable<Servico>? Servicos = ViewData["Servicos"] as IEnumerable<Servico>;
    IEnumerable<Funcionario>? Funcionarios = ViewData["Funcionarios"] as IEnumerable<Funcionario>;

    Cliente? ClienteDaAgenda = Clientes.FirstOrDefault(c => c.CodCliente == Model.FkClienteCodCliente);
    Servico? ServicoDaAgenda = Servicos.FirstOrDefault(c => c.CodServico == Model.FkServicoCodServico);
    Funcionario? FuncionarioDaAgenda = Funcionarios.FirstOrDefault(f => f.CodFuncionario == Model.FkFuncionarioCodFuncionario);
}

<h1>Informacoes Detalhadas</h1><br>
<div class="row">

    <div class="col-lg-12">
        <h2>Dados gerais</h2>
        <div class="dados-Agenda">

            <div class="form-group">
                <h3>Codigo:</h3>
                <p>@Model.CodAgenda</p>
            </div>

            <div class="form-group">
                <h3>Data da Agenda:</h3>
                <p>@Model.DataAgenda</p>
            </div>

        </div><br>

        <h2>Funcionario do agendamento</h2>

        <div class="func-Agenda">
            <div class="form-group">
                <h3>Codigo funcionario:</h3>
                <p>@FuncionarioDaAgenda.CodFuncionario</p>
            </div>
            <div class="form-group">
                <h3>Nome vendedor:</h3>
                <p>@FuncionarioDaAgenda.NomeFuncionario</p>
            </div>
            <div class="form-group">
                <h3>Cpf vendedor:</h3>
                <p>@FuncionarioDaAgenda.CPFFuncionario</p>
            </div>

        </div><br>

        <h2>Cliente do agendamento</h2>

        <div class="cliente-Agenda">

            <div class="form-group">
                <h3>Codigo cliente:</h3>
                <p>@ClienteDaAgenda.CodCliente</p>
            </div>
            <div class="form-group">
                <h3>Nome cliente:</h3>
                <p>@ClienteDaAgenda.NomeCliente</p>
            </div>
            <div class="form-group">
                <h3>Cpf cliente:</h3>
                <p>@ClienteDaAgenda.CPFCliente</p>
            </div>
            <div class="form-group">
                <h3>Tel cliente:</h3>
                <p>@ClienteDaAgenda.TelCliente</p>
            </div>
            <div class="form-group">
                <h3>Email cliente:</h3>
                <p>@ClienteDaAgenda.EmailCliente</p>
            </div>

        </div><br>

        <h2>Servico do agendamento</h2>

        <div class="Servico-Agenda">

            <div class="form-group">
                <h3>Codigo Servico:</h3>
                <p>@ServicoDaAgenda.CodServico</p>
            </div>
            <div class="form-group">
                <h3>Chassi Servico:</h3>
                <p>@ServicoDaAgenda.DescServico</p>
            </div>

        </div>

        <h2>Adicionar relatorio do agendamento</h2>

        <div class="Servico-Agenda">

            <div class="form-group">
                <h3>Codigo Servico:</h3>
                <p>@ServicoDaAgenda.CodServico</p>
            </div>
            <div class="form-group">
                <h3>Chassi Servico:</h3>
                <p>@ServicoDaAgenda.DescServico</p>
            </div>

        </div>
    
        </div>
    </div>
</div>