@{
    ViewData["Title"] = "Salarios";

    List<Venda>? Vendas = ViewData["Vendas"] as List<Venda>;
    List<Funcionario>? Funcionarios = ViewData["Funcionarios"] as List<Funcionario>;
    List<Filial>? Filiais = ViewData["Filiais"] as List<Filial>;
    List<Carro>? Carros = ViewData["Carros"] as List<Carro>;
    DateFilter? Dates = ViewData["Dates"] as DateFilter;
}

<h1>Funcionario que mais vendeu</h1>
<div class="date-range">
    <p>Data Inicial: @Dates.DataIni</p>
    <p>Data Final: @Dates.DataFin</p>
</div>

<div class="row">
    <div class="col-md-12">

        <table class="table">
            <thead>
                <tr>
                    <td>Funcionario com mais vendas</td>
                    <td>Valor bruto vendido</td>
                    <td>Filial</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    @{
                        decimal vendasAtual = 0;
                        decimal vendasMaior = 0;
                        Funcionario funcionarioMaisVendas = Funcionarios[0];

                        foreach (Funcionario funcionario in Funcionarios)
                        {    
                            vendasAtual = 0;
                            foreach (Venda venda in Vendas)
                            {
                                if (venda.DataVenda <= Dates.DataFin && venda.DataVenda >= Dates.DataIni)
                                {
                                    Carro carro = Carros.FirstOrDefault(c => c.CodCarro == venda.FkCarroCodCarro);
                                    vendasAtual += carro.ValorCarro;
                                }
                            }
                            if (vendasAtual > vendasMaior)
                            {
                                vendasMaior = vendasAtual;
                                funcionarioMaisVendas = funcionario;
                            }
                        }
                        Filial filial = Filiais.FirstOrDefault(f => f.CodFilial == funcionarioMaisVendas.FkFilialCodFilial);
                        <td>@funcionarioMaisVendas.NomeFuncionario</td>
                        <td>@vendasMaior</td>
                        <td>@filial.NomeFilial</td>
                    }
                </tr>
            </tbody>
        </table>
    </div>
</div>

<style>
    .FiltroData {
        display: flex;
    }

    .date-range {
        display: flex;
    }
</style>