@model Funcionario;
@{
    ViewData["Title"] = "Ver Funcionario";
}
@{
    IEnumerable<Filial>? Filiais = ViewData["Filiais"] as IEnumerable<Filial>;
    IEnumerable<Funcao>? Funcoes = ViewData["Funcoes"] as IEnumerable<Funcao>;

    Filial? filialDoFuncionario = Filiais.FirstOrDefault(f => f.CodFilial == Model.FkFilialCodFilial);

    Funcao? funcaoDoFuncionario = Funcoes.FirstOrDefault(f => f.CodFuncao == Model.FkFuncaoCodFuncao);
}
<h1>Informacoes Detalhadas</h1>
    <div class="row">

        <div class="col-lg-12">

            <div class="form-group">
                <h3>Codigo:</h3>
                <p>@Model.CodFuncionario</p>
            </div>

            <div class="form-group">
                <h3>Nome:</h3>
                <p>@Model.NomeFuncionario</p>
            </div>

            <div class="form-group">
                <h3>CPF:</h3>
                <p>@Model.CPFFuncionario</p>
            </div>

            <div class="form-group">
                <h3>Endereço:</h3>
                <p>@Model.EndFuncionario</p>
            </div>

            <div class="form-group">
                <h3>Email:</h3>
                <p>@Model.EmailFuncionario</p>
            </div>

            <div class="form-group">
                <h3>Telefone:</h3>
                <p>@Model.TelFuncionario</p>
            </div>

            <div class="form-group">
                <h3>Data de Nascimento:</h3>
                <p>@Model.DataNasc</p>
            </div>

            <div class="form-group">
                <h3>Salário:</h3>
                <p>@Model.SalarioFuncionario</p>
            </div>

            <div class="form-group">
                <h3>Filial:</h3>
                <p>@(filialDoFuncionario != null ? filialDoFuncionario.NomeFilial : "Filial não encontrada")</p>
            </div>

            <div class="form-group">
                <h3>Funçao:</h3>
                <p>@(funcaoDoFuncionario != null ? funcaoDoFuncionario.NomeFuncao : "Função não encontrada")</p>
            </div>
            </div>
        </div>
    </div>